:root{
  --main-color: #F06400;
  --side-color: #f00000;
}

* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

/*Main Container Info*/
.main-container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;
}




/*Flex Items*/
.header, .top-header, .account, .sidebar, .bottom-header, .welcome-section, .create-section,
.search, .account, .logo{
  display: flex;
}




/*Sidebar Section*/
.sidebar{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  flex-direction: column;
  gap: 50px;

  background-color: var(--main-color);
  color: white;
  padding: 4px;
  position: relative;
  z-index: 10;
}

ul{
  list-style-type: none;
  padding: 0;
}

a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.icon{
  height: 30px;
  width: 30px;
  filter: invert(100%);
  padding: 2px 5px;
}

.big-icon{
  height: 45px;
  width: 45px;
  filter: invert(100%);
}

.logo{
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-weight: 1000;
}




/*Header Section*/
.header{
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  padding-bottom: 15px;

  background-color: white;
  color: black;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.329);
}

.top-header{
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  gap:50px;
}

.search, .account{
  justify-content: center;
  align-items: center;
  gap:10px;
}

button, input{
  border-radius: 24px;
}



button{
  background-color: var(--main-color);
  width: 100px;
  height: 35px;
  margin: 10px;
  border-style: solid;
  color: white;
  font-weight: 700;
}

.search{
  flex-grow: 1;
  gap:10px;
}

.search-input{
  height: 35px;
  flex-grow: 1;
  border-style: solid;
}





.bottom-header{
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  
}
.welcome-section{
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: 16px 1fr;
  gap: 4px;
}

.Big-Profile{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#big-name{
  font-size: 1.4rem;
  font-weight: 800;
}




/*Main Hud Section*/
.main{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 20px;
  
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;


  background-color: #e9e4e0;
  
  position: relative;
  z-index: -10;
}

.projects-section{
  grid-row: 1 / 3;
}

.projects-container{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.announcements-container{
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.trending-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects{
  border-radius: 8px;
  border-left: 8px var(--main-color) solid;
  background-color: white;
  height:200px;
  overflow: hidden;
  padding: 8px;
  
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px 1fr 30px;

  grid-template-areas: 
  "title title title title title title"
  "para para para para para para"
  ". . . icon1 icon2 icon3";
}

.projects > p{
  font-size: 0.8rem;
  grid-area: para;
}

.projects > h4{
  grid-area: title;
}

.projects>input:nth-child(5){
  grid-area: icon3;
}

.projects>input:nth-child(4){
  grid-area: icon2;
}

.projects>input:nth-child(3){
  grid-area: icon1;
}





.announcements-container{
  background-color: white;
  padding: 10px;
  border-radius: 8px;

}

.announcements{
  border-bottom: 2px rgba(128, 128, 128, 0.281) solid;
  margin: 5px 10px;
  overflow: hidden;
}

.announcements > p{
  font-size: 0.8rem;
  overflow: hidden;
}






.trending-container{
  background-color: white;
}



/*Temp*/



.announcements, .trendings{
  height: 100px;
}

.heading{
  grid-column: 1 / 3;
  padding-bottom: 10px;

}

