* {
  margin: 0;
}

/*Main Container Info*/
.main-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 200px 1fr;
  gap: 12px;
}

.main-container div{
  background-color: beige;

}



/*Flex Items*/
.header, .top-header, .account, .sidebar, .bottom-header, .welcome-section, .create-section{
  display: flex;
}




/*Sidebar Section*/
.sidebar{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  flex-direction: column;
  gap: 50px;
}





/*Header Section*/
.header{
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.top-header{
  justify-content: space-between;
}

.bottom-header{
  justify-content: space-between;
}





/*Main Hud Section*/
.main{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}








li{
  list-style-type: none;
}